{% extends 'base_BACK.html.twig' %}

{% block title %}Edit Products{% endblock %}

{% block back_content %}
    <h1>Edit Products</h1>

    {{ include('products/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('productsadmin') }}">back to list</a>

    {{ include('products/_delete_form.html.twig') }}
{% endblock %}
