{% extends 'base_BACK.html.twig' %}

{% block title %}New Products{% endblock %}

{% block back_content %}
    <h1>Create new Products</h1>

    {{ include('products/_form.html.twig') }}

    <a href="{{ path('productsadmin') }}">back to list</a>
{% endblock %}
