<center>
              <h2 > Confirmation de l’envoi d’une commande</h2>
</center>
          <p>Bonjour madame,monsieur</p>
              <p>Nous avons bien reçu votre commande dont nous vous remercions</p>
              <p>Votre colis devrait vous parvenir sous un délai de 3jours</p>
              <p>Vous remerciant de votre confiance, nous vous prions d’agréer</p>
          <p> l’expression de nos cordiales salutations.</p>
